.overview-quality-gate {
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f3f3f3;
}

.overview-quality-gate-conditions-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.overview-quality-gate-condition {
  padding: 10px 40px 10px 0;
}

.overview-quality-gate-condition-period {
  margin-bottom: 4px;
}

.overview-quality-gate-condition-container {
  display: flex;
  align-items: center;
}

.overview-quality-gate-condition-value {
  margin-right: 8px;
  font-size: 24px;
  font-weight: 300;
}

.overview-quality-gate-condition-metric {
}

.overview-quality-gate-condition-threshold {
}

.overview-quality-gate-warning {
  margin: 15px 0 0;
}
